:root {
  --main-colour-pink: hsl(307, 70%, 64%);
  --darker-colour-pink: hsl(307, 57%, 51%);
  --input-pleatholder: hsl(0, 0%, 60%);
  --text-colour: hsl(306, 11%, 36%);
  --extra-colour: hsl(307, 56%, 20%);
  --colour-hover: hsl(307, 56%, 34%);
  --dark-pink: hsl(309, 49%, 19%);
  --link-colour: hsl(0, 0%, 88%);
  --card-text-colour: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 25%);
  --jet: hsl(0, 0%, 20%);

  --ff-poppins: "Poppins", sans-serif;
  --ff-montserrat: "Montserrat", sans-serif;

  --fs-1: calc(20px + 3.5vw);
  --fs-2: calc(18px + 1.6vw);
  --fs-3: calc(16px + 0.45vw);
  --fs-4: 15px;
  --fs-5: 14px;
  --fs-6: 13px;
  --fs-7: 12px;
  --fs-8: 11px;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  --transition: 0.25s ease-in-out;

  --section-padding: 60px;

  --radius-15: 15px;
  --radius-25: 25px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a,
img,
span,
input,
label,
button,
ion-icon {
  display: block;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

button {
  cursor: pointer;
}

input {
  width: 100%;
}

ion-icon {
  pointer-events: none;
}

html {
  font-family: var(--ff-poppins);
  scroll-behavior: smooth;
}

body {
  background: var(--white);
}

.container {
  padding-inline: 15;
}

.btn {
  color: var(--white);
  text-transform: uppercase;
  font-size: var(--fs-5);
  border-radius: 100px;
  padding: var(--padding, 8px 18px);
  border: var(--border-width, 2px) solid transparent;
  transition: var(--transition);
}

.btn-primary {
  background: var(--darker-colour-pink);
  border-color: var(--darker-colour-pink);
}

.btn-primary:is(:hover, :focus) {
  background: var(--colour-hover);
  border-color: var(--colour-hover);
}

.btn-secondary {
  border-color: var(--white);
}

.btn-secondary:is(:hover, :focus) {
  background: hsla(0, 0%, 100%, 0.1);
}

.h1,
.h2,
.h3 {
  font-weight: var(--fw-800);
  font-family: var(--ff-montserrat);
  text-transform: uppercase;
}

.h1 {
  color: var(--white);
  font-size: var(--fs-1);
}

.h2,
.h3 {
  color: var(--dark-pink);
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
}

.section-subtitle {
  color: var(--darker-colour-pink);
  font-size: var(--fs-5);
  text-transform: uppercase;
  font-family: var(--ff-montserrat);
  margin-bottom: 8px;
}

.section-title {
  margin-bottom: 15px;
}

.section-text {
  color: var(--text-colour);
  margin-bottom: 30px;
}

.card-text {
  color: var(--text-colour);
  font-size: var(--fs-5);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 61px;
  z-index: 4;
}

.header-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  padding-block: 15px;
  z-index: 1;
}

.header.active .header-top {
  position: fixed;
  background: var(--dark-pink);
}

.header-top .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: flex-start;
  align-items: center;
}

.helpline-box .wrapper {
  display: none;
}

.helpline-box .icon-box {
  background: var(--darker-colour-pink);
  padding: 6px;
  border-radius: 50%;
  color: var(--white);
}

.helpline-box .icon-box ion-icon {
  --ionicon-stroke-width: 40px;
}

.header-top .logo {
  margin-inline: auto;
}

.header-top .logo img {
  max-width: 100px;
}

.header-btn-group {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
}

.search-btn,
.nav-open-btn {
  font-size: 30px;
  color: inherit;
}

.search-btn {
  font-size: 20px;
}

.header-bottom {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.header-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 15px;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.social-link {
  color: var(--white);
  padding: 8px;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  border-radius: 50%;
  font-size: 15px;
  transition: var(--transition);
}

.social-link:is(:hover, :focus) {
  background: hsla(0, 0%, 100%, 0.2);
}

.header .btn {
  --padding: 4px 20px;
}

.header .navbar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  background: var(--white);
  visibility: hidden;
  pointer-events: none;
  transition: 0.15s ease-in;
  z-index: 3;
}

.navbar.active {
  right: 0;
  visibility: visible;
  pointer-events: all;
  transition: 0.25s ease-out;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 15px;
}

.navbar-top .logo img {
  width: 150px;
}

.nav-close-btn {
  font-size: 20px;
  color: var(--darker-colour-pink);
}

.nav-close-btn ion-icon {
  --ionicon-stroke-width: 80px;
}

.navbar-list {
  border-top: 1px solid hsla(0, 0%, 0%, 0.1);
}

.navbar-list li {
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
}

.navbar-link {
  padding: 15px 20px;
  color: var(--jet);
  font-weight: var(--fw-500);
  font-size: var(--fs-4);
  transition: var(--transition);
  text-transform: capitalize;
}

.navbar-link:is(:hover, :focus) {
  color: var(--darker-colour-pink);
}

.overlay {
  position: fixed;
  inset: 0;
  background: var(--black);
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  transition: var(--transition);
}

.overlay.active {
  opacity: 0.7;
  pointer-events: all;
}

.hero {
  background-image: url("../img/depositphotos_662910010-stock-photo-silhouette-young-people-raised-flutes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: hsla(0, 0%, 0%, 0.7);
  background-blend-mode: overlay;
  display: grid;
  place-items: center;
  min-height: 600px;
  text-align: center;
  padding-top: 125px;
}

.hero-title {
  margin-bottom: 20px;
}

.hero-text {
  color: var(--white);
  font-size: var(--fs-5);
  margin-bottom: 40px;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tour-search {
  background: var(--darker-colour-pink);
  padding-block: var(--section-padding);
}

.tour-search-form .input-label {
  color: var(--white);
  font-size: var(--fs-4);
  margin-left: 20px;
  margin-bottom: 10px;
}

.tour-search-form .input-field {
  background: var(--white);
  padding: 10px 15px;
  font-size: var(--fs-5);
  border-radius: 50px;
}

.tour-search-form .input-field::placeholder {
  color: var(--input-pleatholder);
}

.tour-search-form .input-field::-webkit-datetime-edit {
  color: var(--input-pleatholder);
  text-transform: uppercase;
}

.tour-search-form .input-wrapper {
  margin-bottom: 15px;
}

.tour-search .btn {
  width: 100%;
  --border-width: 1px;
  font-weight: var(--fw-600);
  margin-top: 35px;
}

.popular {
  padding-block: var(--section-padding);
}

.popular-list,
.popular-list > li:not(:last-child) {
  margin-bottom: 30px;
}

.popular-card {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-25);
  height: 430px;
}

.popular-card .card-img {
  height: 100%;
}

.popular-card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popular-card .card-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background: var(--white);
  border-radius: var(--radius-25);
  padding: 20px;
}

.popular-card .card-rating {
  background: var(--darker-colour-pink);
  color: var(--white);
  position: absolute;
  top: 0;
  right: 25px;
  display: flex;
  align-items: center;
  gap: 1px;
  transform: translateY(-50%);
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.popular-card .card-title {
  margin-bottom: 5px;
}

.popular-card :is(.card-title) > a {
  color: inherit;
}

.popular .btn {
  margin-inline: auto;
}

.package {
  padding-block: var(--section-padding);
}

.package-list {
  margin-bottom: 40px;
}

.package-list > li:not(:last-child) {
  margin-bottom: 30px;
}

.package-card {
  background: var(--cultured);
  overflow: hidden;
  border-radius: 15px;
}

.package-card .card-banner {
  height: 250px;
}

.package-card .card-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.package-card .card-content {
  padding: 30px 20px;
}

.package-card .card-title {
  margin-bottom: 15px;
}

.package-card .card-text {
  line-height: 1.6;
  margin-bottom: 20px;
}

.card-meta-list {
  background: var(--white);
  max-width: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.15);
  border-radius: 50px;
}

.card-meta-item {
  position: relative;
}

.card-meta-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -1px;
  bottom: 4px;
  width: 1px;
  background: hsla(0, 0%, 0%, 0.3);
}

.meta-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-inline: 9px;
  color: var(--text-colour);
  font-size: var(--fs-8);
}

.meta-box > ion-icon {
  color: var(--darker-colour-pink);
  font-size: 13px;
}

.package-card .card-price {
  background: var(--main-colour-pink);
  color: var(--white);
  padding: 25px 20px;
  text-align: center;
}

.package-card .card-price .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px 15px;
  margin-bottom: 10px;
}

.package-card .card-price .reviews {
  font-size: var(--fs-5);
}

.package-card .card-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  font-size: 14px;
}

.package-card .card-rating ion-icon:last-child {
  color: hsl(0, 0%, 80%);
}

.package-card .price {
  font-size: var(--fs-2);
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-800);
  margin-bottom: 20px;
}

.package-card .price span {
  font-size: var(--fs-7);
  font-weight: initial;
}

.package .btn {
  margin-inline: auto;
}

/*-----------------------------------*\
   * #GALLERY
  \*-----------------------------------*/

.gallery {
  padding-block: var(--section-padding);
}

.gallery-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-15);
  overflow: hidden;
}

.gallery-item:nth-child(3) {
  grid-area: 1 / 2 / 3 / 3;
}

.gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cta {
  background: var(--darker-colour-pink);
  padding-block: var(--section-padding);
}

.cta :is(.section-subtitle, .section-title, .section-text) {
  color: var(--white);
}

.cta .section-text {
  font-size: var(--fs-5);
}

.footer-top {
  background: var(--dark-pink);
  padding-block: var(--section-padding);
  color: var(--link-colour);
}

.footer-brand {
  margin-bottom: 30px;
}

.footer-brand img {
  width: 180px;
}

.footer-brand .logo {
  margin-bottom: 20px;
}

.footer-text {
  font-size: var(--fs-5);
  line-height: 1.7;
}

.footer-contact {
  margin-bottom: 30px;
}

.contact-title {
  position: relative;
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-500);
  margin-bottom: 30px;
}

.contact-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 2px;
  background: var(--darker-colour-pink);
}

.contact-text {
  font-size: var(--fs-5);
  margin-bottom: 15px;
  max-width: 200px;
}

.contact-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.contact-item ion-icon {
  --ionicon-stroke-width: 40px;
}

.contact-link,
address {
  font-style: normal;
  color: var(--link-colour);
  font-size: var(--fs-5);
}

.contact-link:is(:hover, :focus) {
  color: var(--white);
}

.form-text {
  font-size: var(--fs-5);
  margin-bottom: 20px;
}

.footer-form .input-field {
  background: var(--white);
  font-size: var(--fs-5);
  padding: 15px 20px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.footer-form .btn {
  width: 100%;
}

.footer-bottom {
  --dark-pink: hsl(304, 16%, 18%);
  background: var(--dark-pink);
  padding-block: 20px;
  text-align: center;
}

.copyright {
  color: var(--link-colour);
  font-size: var(--fs-5);
  margin-bottom: 10px;
}

.copyright a {
  color: inherit;
  display: inline-block;
}

.copyright a:is(:hover, :focus) {
  color: var(--white);
}

.footer-bottom-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
}

.footer-bottom-list > li {
  position: relative;
}

.footer-bottom-list > li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -10px;
  bottom: 3px;
  width: 1px;
  background: hsla(0, 0%, 100%, 0.2);
}

.footer-bottom-link {
  color: var(--link-colour);
  font-size: var(--fs-7);
  transition: var(--transition);
}

.footer-bottom-link:is(:hover, :focus) {
  color: var(--white);
}

